In [57]:
import pandas as pd
import numpy as np

data = pd.read_csv("./iris.csv")

In [58]:
data.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [60]:
np_ar = data.to_numpy()
np.random.shuffle(np_ar)

x = np_ar[:, :-1].astype(float)
y = np_ar[:, -1]

split_index = int(len(x)*0.7)

xtrain = x[:split_index]
xtest = x[split_index:]

ytrain = y[:split_index]
ytest = y[split_index:]

In [61]:
def find_majority(arr):
    candidate = None
    votes = 0

    for i in range(len(arr)):
        if votes == 0:
            candidate = arr[i]
            votes = 1
        else:
            if arr[i] == candidate:
                votes += 1
            else:
                votes -= 1

    return candidate

In [62]:
import numpy as np
class KNN:
    def __init__(self, k=5):
        self.k = k

    def fit(self, xtrain, ytrain):
        self.xtrain = xtrain
        self.ytrain = ytrain

    def predict(self, x):
        distances = np.sum((self.xtrain-x)**2, axis=1)
        k_indices = np.argsort(distances)[:self.k]
        k_nearest_labels = [self.ytrain[i] for i in k_indices]
        most_common = find_majority(k_nearest_labels)
        return most_common

    def test(self, xtest, ytest):
        predictions = [self.predict(x) for x in xtest]
        correct = np.sum(predictions==ytest)
        return correct / len(xtest)

In [63]:
knn = KNN(5)
knn.fit(xtrain, ytrain)

new_data = np.array([2, 3, 4, 5])
predict = knn.predict(new_data)

print(predict)

virginica

In [64]:
print(knn.test(xtest, ytest))
print(knn.test(xtrain, ytrain))

0.9555555555555556
0.9809523809523809